[Unit]
Description=install skywire service
After=systemd-networkd.service network.target armbian-firstrun.service armbian-resize-filesystem.service systemd-user-sessions.service network-online.target systend-networkd-wait-online.service NetworkManager-wait-online.service sshd.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/bin/install-skywire

[Install]
WantedBy=multi-user.target
