[Unit]
Description=serve skywire public key
Wants=network-online.target skywire.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/skywire-cli hv srvpk

[Install]
WantedBy=multi-user.target
