[Unit]
Description=http endpoint for skywire public key
Wants=skywire.service

[Service]
Type=simple
ExecStart=/bin/skywire-cli visor pk -w
Restart=always
RestartSec=20
TimeoutSec=30


[Install]
WantedBy=multi-user.target
