[Unit]
Description=Configures skybian on first run
After=network.target
After=systemd-user-sessions.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/skybian-conf

[Install]
WantedBy=multi-user.target
