[Unit]
Description=Skybian Firstboot
After=NetworkManager.service network.target armbian-firstrun.service armbian-resize-filesystem.service systemd-user-sessions.service
Wants=NetworkManager.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/bin/skybian-firstrun

[Install]
WantedBy=multi-user.target
