[Unit]
Description=Skybian auto-configuration service
After=network.target
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/skybian-config

[Install]
WantedBy=multi-user.target
