[Unit]
Description=Skywire Visor
After=skybian-conf.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=2
User=root
ExecStart=/usr/local/bin/skywire-visor /root/skywire-config.json

[Install]
WantedBy=multi-user.target