[Unit]
Description=Skywire Visor
After=skywire-setup.service

[Service]
Type=simple
User=root
Group=root
Environment=SW_CONFIG=/etc/skywire/visor-config.json
WorkingDirectory=/var/skywire
ExecStart=/usr/bin/skywire-visor
TimeoutSec=30s
Restart=always
RestartSec=15s

[Install]
WantedBy=multi-user.target